body {
    background-color: #ecf0f1;
}

.body-border {
    margin: 1em 1em 1em 1em;
}

p {
    color: #c7254e;
}

.add-btn {
    float: right;
}

.add-form {
    display: inline-grid;
    width: 33%;
}

.interior {
    margin : 0 2em 2em 2em;
    display: flex;
    flex-direction: column;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;
}

.campus-edit-student-list {
    display: grid;
}

.edit-form {
    display: inline-block;
    width: 33%;
}
.edit-form-el {
    width: 100%;
}

.campus-edit-student-list {
     padding : 0 0 0 0;
}

.edit-form-name {
    font-size: 15px;
    font-style: bold;
}

.edit-form-email {
    font-size: 15px;
}

.campus-image {
    width: 100%;
}

.page-square {
    display: flex;
}

.remove-student {
    height: 15%;
    margin: 0 0 0 2%;
}

.student-image {
    border-radius: 4px;
}

.hero {
    width: 100%;
    border-radius: 6px;
}

.save-btn {
    margin: 3% 0 0 0;
}

.campus-name {
    margin-top: 10px;
}
